/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: center;
}

/*CONTENITORE DELL'HEADER*/
.header-container {
    background-color: orange;
    width: 70%;
    height: 60px;
    margin-top: 12.5px;
    display: flex;
}

/*COLONNA DEL LOGO*/
.logo-column {
    border: 2px;
    border-color: black;
    border-style: dashed;
    flex-basis: 20%;
}

/*COLONNA DEI LINK*/
.link-column {
    border: 2px;
    border-color: black;
    border-style: dashed;
    flex-basis: 60%;
}

/*COLONNA DEL LOGIN*/
.login-column {
    border: 2px;
    border-color: black;
    border-style: dashed;
    flex-basis: 20%;
}

/*SEZIONE UNO*/
.first-section {
    background-color: darkblue;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

/*PRIMO CONTENITORE*/
.first-container {
    background-color: fuchsia;
    border: 5px;
    border-color: black;
    border-style: dashed;
    height: 80%;
    width: 50%;
}

/*SEZIONE DUE*/
.second-section {
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.second-container {
    height: 450px;
    width: 70%;
    display: flex;
}

.first-column-second-container {
    flex-basis: 60%;
    background-color: lightblue;
    border: 2px;
    border-color: black;
    border-style: dashed;
}

.second-column-second-container {
    flex-basis: 40%;
    background-color: pink;
    border: 2px;
    border-color: black;
    border-style: dashed;
}


/*SEZIONE TRE*/
.third-section {
    background-color: grey;
    height: 550px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 50px;
}

/*SEZIONE QUATTRO*/
.fourth-section {
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

/*SEZIONE CINQUE*/
.fifth-section {
    background-color: gray;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.third-container {
    border: 2px;
    border-color: black;
    border-style: dashed;
    background-color: greenyellow;
    height: 90%;
    width: 70%;
    margin-top: 50px;
}

/*SEZIONE SEI*/
.sixth-section {
    background-color: black;
    height: 500px;
    display: flex;
    justify-content: center;
    border: 2px;
    border-color: black;
    border-style: dashed;
    padding-top: 5px;
}

/*PRIMA COLONNA SESTA SEZIONE*/
.first-column-sixth-container {
    height: 450px;
    background-color: salmon;
    flex-basis: 20%;
    border: 2px;
    border-color: black;
    border-style: dashed;
}

/*SECONDA COLONNA SESTA SEZIONE*/
.second-column-sixth-container {
    height: 450px;
    background-color: lightseagreen;
    flex-basis: 10%;
    border: 2px;
    border-color: white;
    border-style: dashed;
}

/*HR*/
hr {
    color: white;
}

/*FOOTER*/
footer {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
}

/*CONTAINER DEL FOOTER*/
.footer-container {
    height: 80px;
    width: 80%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

/*LOGO DEL FOOTER*/
.logo-footer {
    height: 40px;
    width: 50px;
    background-color: pink;
    display: inline;
    margin-top: 20px;
}

/*BOTTONE DEL FOOTER*/
.bottone-footer {
    height: 40px;
    width: 50px;
    background-color: pink;
    display: inline;
    margin-top: 20px;
}