/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: center;
}

/*CONTENITORE DELL'HEADER*/
.header-container {
    background-color: orange;
    width: 70%;
    height: 60px;
    margin-top: 12.5px;
    display: flex;
}

/*COLONNA DEL LOGO*/
.logo-column {
    border: 2px;
    border-color: black;
    border-style: dashed;
    flex-basis: 20%;
}

/*COLONNA DEI LINK*/
.link-column {
    border: 2px;
    border-color: black;
    border-style: dashed;
    flex-basis: 60%;
}

/*COLONNA DEL LOGIN*/
.login-column {
    border: 2px;
    border-color: black;
    border-style: dashed;
    flex-basis: 20%;
}

/*SEZIONE UNO*/
.first-section {
    background-color: darkblue;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

/*SEZIONE DUE*/
.second-section {
    background-color: white;
    height: 500px;
}

/*SEZIONE TRE*/
.third-section {
    background-color: grey;
    height: 500px;
}

/*SEZIONE QUATTRO*/
.fourth-section {
    background-color: white;
    height: 500px;
}

/*SEZIONE CINQUE*/
.fifth-section {
    background-color: gray;
    height: 800px;
}

/*SEZIONE SEI*/
.sixth-section {
    background-color: black;
    height: 500px;
}

/*PRIMO CONTENITORE*/
.first-container {
    background-color: fuchsia;
    border: 5px;
    border-color: black;
    border-style: dashed;
    height: 80%;
    width: 50%;
}

/*FOOTER*/
footer {
    background-color: black;
    height: 100px;
}