/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    background-color: lightblue;
    height: 100px;
}

/*SEZIONE UNO*/
.first-section {
    background-color: darkblue;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

/*SEZIONE DUE*/
.second-section {
    background-color: white;
    height: 500px;
}

/*SEZIONE TRE*/
.third-section {
    background-color: grey;
    height: 500px;
}

/*SEZIONE QUATTRO*/
.fourth-section {
    background-color: white;
    height: 500px;
}

/*SEZIONE CINQUE*/
.fifth-section {
    background-color: gray;
    height: 800px;
}

/*SEZIONE SEI*/
.sixth-section {
    background-color: black;
    height: 500px;
}

/*PRIMO CONTENITORE*/
.first-container {
    background-color: fuchsia;
    border: 5px;
    border-color: black;
    border-style: dashed;
    height: 80%;
    width: 50%;
}

/*FOOTER*/
footer {
    background-color: black;
    height: 100px;
}